* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    width: 8%;
    height: 8%;
    border-radius: 50%;
}
header {
    background-image: url("../assets/fondo.jpg");
  
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a {
    border: 2px solid black;
    border-radius: 10%;
}
.listas {
    padding-left: 20px;
}
